[MASTER]
ignore =
    LICENSE,
    LabBot.png,
    README.md,
    requirements-ci.txt,
    requirements.txt,
    venv
disable=
    C0114, # missing-module-docstring
    R0201, # no-self-use
    unsubscriptable-object # remove when pylint is upgraded to 2.6

[FORMAT]
max-line-length=150
