[tool.black]
	line-length = 127
	target-version = ["py38"]
	exclude = "env"

[tool.isort]
	multi_line_output = 3
	include_trailing_comma = true
	force_grid_wrap = 0
	use_parentheses = true
	ensure_newline_before_comments = true
	line_length = 127
	skip = "env"
	profile = "black"

[tool.pylint.MASTER]
	disable = [
		"C0114", # Missing module docstring
	]
	max-attributes = 12
	max-branches = 20

[tool.pylint.FORMAT]
	max-line-length = 127

[tool.pylint.SIMILARITIES]
	# Minimum lines number of a similarity.
	min-similarity-lines = 10
	# Ignore comments when computing similarities.
	ignore-comments = "yes"
	# Ignore docstrings when computing similarities.
	ignore-docstrings = "yes"
	# Ignore imports when computing similarities.
	ignore-imports = "yes"

[tool.pylint.main]
load-plugins = "pylint_actions"

[tool.pytest.ini_options]
asyncio_mode = "auto"
