[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.ruff.lint]
select = ["F", "E", "W", "I", "ASYNC", "PL", "RUF"]

[tool.ruff]
line-length = 127

[tool.pyright]
# ...
venvPath = "."
venv = ".venv"
